html
    head
        title
        style
        script(src='a.js')
        link(href="a.css",rel="stylesheet")
    body
        div
        ul
            li
                input(type="text",id="txt1")
            li
                input(type="text",id="txt1")
            li
                input(type="text",id="txt1")
