html
    head
        title
        style
        script alert('abc');
        link(href="a.css",rel="stylesheet")
    body
        div
            a(href="http://www.baidu.com/") 百度
            a(href="http://www.baidu.com/") 百度
        ul
            li
                input(type="text",id="txt1")
            li
                input(type="text",id="txt1")
            li
                input(type="text",id="txt1")
