html
    head
        title
        style
        script alert('abc');
        link(href="a.css",rel="stylesheet")
    body
        div#div1(title="aaa")
        div&attributes({title:'aaa', id:'div1'})
