<ul class="clearfix">
    <% for( var i = 0; i < banners.length; i++ )  {%>
    <li><img src="<%= banners[ i ].src %>" alt=""/>
        <div class="text-box">
            <h2><%= banners[ i ].title %></h2>
            <p><%= banners[ i ].subtitle %></p>
        </div>
    </li>
    <% } %>
</ul>
<ol>
    <li class="active"></li>
    <li></li>
    <li></li>
</ol>
